body {
  background: #f7f7f7;
  font-family: Arial, sans-serif;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background: white;
  border-radius: 10px;



.table thead {
  background: blue;
  color: white;
  font-size: 18px;
}

.table th, .table td {
  padding: 12px;
  text-align: center;
  border: 1px solid #e0e0e0;
}


.table tr:hover {
  background: #f2f2f2;
  transition: 0.3s;
}


.container {
  margin-top: 20px;
}

.col {
  padding: 20px;
  background: rgb(240, 240, 240);
  border: 2px solid #4e73df;
  border-radius: 10px;
  margin: 10px;
  font-weight: bold;
  box-shadow: 1px 1px 6px rgba(0,0,0,0.1);
}


.table img {
  border-radius: 10px;
  border: 3px solid #4e73df;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
}
}